@import "../assets/stylesheets/_variables";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5rem 2rem;
  opacity: 1;
  transition: opacity $content-fade-duration ease-in;
  &.hidden {
    opacity: 0;
  }
}

.section {
  margin-bottom: $section-vertical-spacing;

  .module {
    padding-left: 2rem;
    border-left: 0.1rem solid $gray-700
  }

  .section-title {
    position: relative;
    margin-bottom: 2.5rem;
  }
}
