@import "../assets/stylesheets/_variables";

.container {
  background-color: $gold-sun;
  padding: 4rem 7rem;
  border-radius: $border-radius;
  display: flex;
  color: $body-color;
  max-width: 105rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  .description {
    font-size: $font-size-base;
    max-width: 30rem;
    text-align: center;
  }
}
