@import "../assets/stylesheets/_variables";

.container {
  background-color: $gray-900;
  width: 100%;
  height: 40rem;
  color: $gray-100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    text-align: center;
    color: $gray-600;
    margin-bottom: 3rem;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      text-align: center;
      padding: 0 0.5rem;
      font-size: 1.8rem;
      &:not(:last-child):after {
        content: " \00b7";
        display: block;
        color: $gray-600;
      }
      @include media-breakpoint-up(md) {
        display: inline;
        &:not(:last-child):after {
          content: " \00b7";
          display: inline;
          padding-left: 0.5rem;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
