.nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  .nav-title {
    font-weight: 700;
    font-size: 3rem;
  }
}
.header {
  width: 100%;
  max-width: 1300px;
  position: relative;
  z-index: 10;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
  }
}
@media (max-width: 1300px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
