@import "../assets/stylesheets/_variables";

.container {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $gray-800;
  color: $body-color;
}

.title {
  position: absolute;
  bottom: 20vh;
  right: 5rem;
  color: $dusk;
  font-size: $font-size-xxlarge;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.hero-image img {
  object-fit: cover;
  object-position: 85% 0%;
  font-family: "object-fit: contain; object-position: 85% 0%";
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.hero-content-scrim {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
.hero-content-scrim.hide-scrim {
  background: transparent;
}

.hero-content {
  max-width: 58rem;
  padding: 0 3rem;
  transform: translateX(3rem);
  transition: transform 0.3s ease-in-out;
}
