@import "../assets/stylesheets/_variables";

$section-overlap-spacing: 5rem;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: $section-vertical-spacing;

  .section-title {
    position: relative;
    margin-bottom: 2.5rem;
    &__dark {
      color: $color-slate-base;
    }
  }

  &.overlap-top {
    margin-top: -$section-overlap-spacing;
    margin-bottom: $section-vertical-spacing + $section-overlap-spacing; // Compensate for overflow
  }
}
