@import "../assets/stylesheets/_variables";

$section-top-overlap: 5rem;
$section-bottom-overlap: 18rem;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-top: -$section-top-overlap;
  margin-bottom: -$section-bottom-overlap; // Compensate for overflow
}

.section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: $section-vertical-spacing;

  .module {
    padding-left: 2rem;
    border-left: 0.1rem solid $gray-800
  }

  .section-title {
    position: relative;
    margin-bottom: 2.5rem;
  }
}
