@import "../../assets/stylesheets/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.grid-item {
  width: 100%;
  list-style: none;
  margin: 0;
  user-select: none;
  cursor: pointer;

  .grid-item-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: $border-radius;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-bottom: 1.2rem;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.01);
    }
    &__shadow {
      box-shadow: $box-shadow-reg;
    }
  }

  .grid-item-title {
    margin: 0;
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 700;
    }
  }

  .grid-item-description {
    font-weight: 300;
    font-size: $font-size-small;
  }
}

// TODO: Migrate modal implementation to HOC
$modal-viewport-padding: 5rem;
$modal-viewport-padding-mobile: 1.5rem;
.modal-overlay {
  position: fixed;
  inset: 0rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal {
  box-shadow: $box-shadow-reg;
  border-radius: $border-radius;
  padding: 3rem;
  position: absolute;
  border: 0.1rem solid $gray-800;
  background: $dusk;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  max-width: 100%;
  margin: 0 auto;
  top: $modal-viewport-padding-mobile;
  left: $modal-viewport-padding-mobile;
  right: $modal-viewport-padding-mobile;
  bottom: $modal-viewport-padding-mobile;

  @include media-breakpoint-up(md) {
    max-width: 100rem;
    top: $modal-viewport-padding;
    left: $modal-viewport-padding;
    right: $modal-viewport-padding;
    bottom: $modal-viewport-padding;
  
  }

  .modal-content {
    padding: 3rem;
  }

  .modal-header {
    display: flex;
    justify-content: flex-end;
    .close-button {
      cursor: pointer;
      width: 3rem;
      height: 3rem;
    }
  }
}
