@import "./variables";

.btn {
  border-radius: 2.5rem;
  border: 0;
  font-size: $font-size-base;
  line-height: 1.1;
  font-weight: $font-weight-base;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: $color-slate-0;
  background-color: $color-secondary;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  padding: 1.5rem 2rem;
  width: 100%;
  max-width: 18rem;
  text-align: center;

  &:focus {
    outline-style: none;
  }
  &:hover {
    background-color: $color-secondary-dark;
  }
}
.btn.text-small {
  font-size: $font-size-small;
}
.btn.large {
  border-radius: 4.5rem;
  padding: 1.8rem 4rem;
  max-width: 28rem;
}
.btn.ghost {
  background-color: transparent;
  border: 0.2rem solid $color-slate-0;
}
.btn.ghost-on-light {
  color: $color-secondary;
  background-color: transparent;
  border: 0.2rem solid $color-secondary;
}
.btn.text-bold {
  font-weight: $font-weight-bold;
}

.btn.ghost:focus,
.btn.ghost:hover {
  background-color: $color-secondary;
  border-color: $color-secondary;
}
.btn.ghost-on-light:focus,
.btn.ghost-on-light:hover {
  background-color: $color-secondary;
  color: $color-slate-0;
}
