@import "./variables";

.form-group {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .form-control {
    background-color: darken($body-background-color, 5%);
    border-color: $body-color;
    transition: background-color 0.2s ease-in-out;
    &:focus,
    &:-webkit-autofill {
      border-color: lighten($body-color, 10%);
      background-color: lighten($body-background-color, 5%);
    }
  }
}
