@import "./_variables";

ul.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

a.no-link-style {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    text-decoration: inherit;
  }
}

.font-size-small {
  font-size: $font-size-sm;
}

.font-size-large {
  font-size: $font-size-lg;
}