$dusk: #242444;
$morning-sky: #a8dafd;
$muted-sky: #cedcf0;
$morning-sun: #fde0b8;

$primary: lighten(#242444, 15%);
$secondary: #6E3B9D;
$warning: $morning-sun;

$body-color: $dusk;
$link-color: #4325c7;
$body-background-color: $muted-sky;

// Font
$font-size-root: 10px;
$font-size-base: 1.6rem;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-weight:  700;
$display-font-weight: 700;
$display-size-large: 2.4rem;
$display-size-xlarge: 4.2rem;
$display-size-xxlarge: 5rem;
$display-size-xxxlarge: 6rem;

// Buttons
$btn-padding-y: 1.5rem;
$btn-padding-x: 2rem;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 0.65 !default;
$btn-border-radius: 2.5rem;

// Content
$section-vertical-spacing: 8rem;

// Border radius
$border-radius: 1.5rem;
$input-border-radius: 1rem;

// Form
$input-color: $body-color;
$input-focus-box-shadow: none;
$input-padding-x: 1rem;
$input-padding-y: 1rem;

// Box shadow
$box-shadow: 0px 20px 52px rgba(0, 0, 0, 0.31);

// Cold start load
$content-fade-duration: 1s;

// Allows for single file imports in helper files
@import "prerequisites";

:export {
  primary: $primary;
  bodyBackgroundColor: $body-background-color;
}