// TODO: Refine Color palette
$dusk: #343447;
$morning-sky: #a8dafd;
$muted-sky: #a9bedb;
$deep-navy: #013158;
$gold-sun: #ffd36b;
$peach: #f2af87;
$morning-sun: #fdcf80;

$primary: #c1a1e8;
$secondary: #5e66d5;


// Font
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;

$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size-base: 1.6rem;
$font-size-large: 2.4rem;
$font-size-xlarge: 4.2rem;
$font-size-xxlarge: 5rem;

// Buttons
$btn-padding-y: 1.5rem;
$btn-padding-x: 2rem;
$btn-line-height: 1.1;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 0.65 !default;
$btn-border-radius: 2.5rem;

// Content
$section-vertical-spacing: 5rem;

// Common border styles
$border-radius: 1.5rem;

// Box shadow
$box-shadow-reg: 0px 20px 52px rgba(0, 0, 0, 0.31);

// Allows for single file imports in helper files
@import "prerequisites";
